@tailwind base;
@tailwind components;
@tailwind utilities;

.noto_font {
  font-family: var(--font-noto);
 }

 .slick-dots li button::before {
 
  color: white !important;
 
}

.slick-dots li.slick-active button::before {
  
  color: #26B86C !important;
  
}

@layer components {
  .header_button_one {
    @apply md:px-[20px] px-2.5 md:py-[4px] py-2  md:text-base text-xs rounded-md   border border-primary text-primary font-light  transition-all duration-500 opacity-100 xl:hover:opacity-70 font-normal;
  }
  .header_button_two {
    @apply md:px-[20px] px-2.5 md:py-[4px] py-2  md:text-base text-xs rounded-md bg-primary font-light text-white transition-all duration-500 opacity-100 xl:hover:opacity-70 font-normal;
  }

  .banner_gradient {
    background: linear-gradient(to top right,#0f0f11 60%,#232f29);
  }

  .middle_gradient {
    background-image:radial-gradient(circle, #16432D, #0F0F11, #0F0F11)
  }

  .section_one {
    @apply flex sm:flex-row flex-col items-center justify-between sm:pt-32 pt-10 md:pb-16 pb-10 xl:space-x-0 md:space-x-16;
  }

  .section_one_heading {
    @apply  text-[#FFFDFF] text-[32px] md:text-[28px] xl:text-[48px] font-light leading-[40px] md:leading-[40px] xl:leading-[52px] text-center sm:text-start md:max-w-2xl;
  }

  .section_one_button {
    @apply md:w-[300px] w-[320px] md:h-[45px] px-4 md:py-[4px] py-2 md:text-xl text-base rounded-md bg-primary  text-white transition-all duration-500 opacity-100 hover:opacity-70 font-normal;
  }
  
  /* .section_two {} */

  .section_two_outerbox {
    @apply bg-[#2F2F2F66] rounded-lg cursor-pointer transition-all ease-in-out duration-100;
    /* color: rgb(0, 0, 0) transform: none */
  }

  .section_two_innerbox {
    @apply sm:p-8 p-6 md:h-auto flex flex-col items-center md:justify-center font-bold md:text-[40px] text-[30px];
  }

  .section_two_innertext_top {
    @apply text-white cursor-pointer hover:text-primary hover:scale-125  transition-all ease-in-out duration-300;
  }

  .section_two_innertext_bottom {
    @apply text-white text-sm lg:text-base font-normal text-center h-10 xl:h-auto;
  }


  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .scroll-horizontal {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .scroll-horizontal .logos {
    display: flex;
    width: 200%; /* Double the width to accommodate seamless scrolling */
    animation: scroll-left 15s linear infinite;
  }


  .scroll-horizontal.reverse .logos {
    display: flex;
    width: 200%; /* Double the width to accommodate seamless scrolling */
    animation: scroll-right 15s linear infinite;
  }


  
  
  .scroll-horizontal .logos .logo-box  {
    flex: 0 0 auto;
    margin: 0 1rem;
    width: 10%; /* Adjust width as needed */
    
    padding: 1.5rem;
    background-color: #2F2F2F66; /* Box background color */
    /* border: 1px solid #2F2F2F66;  */
    border-radius: 1rem; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
  }

 

  
}
